@import url(../../styles.module.less);
.siteHeader{
    padding: 24px;
    background-color: #f5f5f5;
    // .name{
    //     // font-size: 20px;
    // }
  }

.rating_right{
    float: left;
    padding: 10px 0 10px 6px;
}
.pinfen{
width: 80%;
}
.jianjie{
    color: #1890ff;
}
.myrate{
    color: #1890ff;
    padding-top: 5px;
}
.detail{
    font-size:14px;
}

.whenIcomment{   color: gray;
    row-gap: 0px;
    font-size: 12px;
}
.rankProgress{
    margin-top: 10px;
}
.rankAll{
   margin: 20px;
   padding-left: 20px;
   border-left:1.5px solid #f5f5f5 ;
}
.movieList{
   border-bottom:1.5px solid #f5f5f5 ;


}
// .title{
//   font-size: 20px
// }



@media screen and (max-width:@screen-xs){

    .siteHeader{
        padding: 24px;
        background-color: #f5f5f5;
        .name{
            font-size: 10px !important;
        }
      }


    .title{
        font-size: 10px;
      }

      .detail{
        font-size:10px;
    }
   
}

@media screen and (max-width:@screen-md){

    .siteHeader{
        padding: 24px;
        background-color: #f5f5f5;
        .name{
            font-size: 10px !important;
        }
      }

      .rankProgress{
        margin-top: 2px;
    }
    .title{
        font-size: 15px;
      }

      .rankFont{
          font-size: 10px;
      }
      .detail{
        font-size:10px;
    }

    .jianjie{
        color: #1890ff;
        font-size: 1em;
    }
}
   